[colors]
arrowbuttoncolor.dark=0xcdc8c8
arrowbuttoncolor.light=0xebe6e6
arrowbuttoncolor.main=0xcdc8c8
arrowbuttoncolor.shadow=0x0000000
arrowcolor.border=0xb9b4b4
arrowcolor.pressed=0xebe6e6
arrowcolor.unpressed=0x9b9696
bottombginnercolor.dark=0xcdc8c8
bottombginnercolor.light=0xfffafa
bottombginnercolor.main=0xcdc8c8
bottombginnercolor.shadow=0xb9b4b4ff
bottombgoutercolor.dark=0xb9b4b4
bottombgoutercolor.light=0x000000
bottombgoutercolor.main=0xe1dcdc
bottomcornerbuttoncolor.dark=0xa5a0a0
bottomcornerbuttoncolor.iconlight=0xb9b4b4
bottomcornerbuttoncolor.iconmain=0x9b9696
bottomcornerbuttoncolor.icontextmain=0x000000
bottomcornerbuttoncolor.light=0xfffafa
bottomcornerbuttoncolor.main=0xc8c3c3
bottomcornerbuttoncolor.shadow=0x000000
close.dark=0xa09b9b
close.glow=0x000000
close.light=0xebe6e6
close.main=0xb9b4b4
close.shadow=0x0000000
close.textmain=0x696464
close.textselected=0xfffafa
close.textshadow=0xfffafa
close.textshadowpos=-0.996
cursorcolor.dark=0xc8e5ff
cursorcolor.glow=0xe0edff
cursorcolor.light=0xc9e7ff
cursorcolor.main=0xc9ebff
demotextcolor.main=0xa5a0a0
demotextcolor.textmain=0x696464
filecolor.dark=0xc8c3c3
filecolor.light=0xfffafa
filecolor.main=0xebe6e6
filecolor.shadow=0xd7d2d2ff
folderarrowcolor.dark=0xb4afaf
folderarrowcolor.glow=0x000000
folderarrowcolor.light=0xf5f0f0
folderarrowcolor.main=0xd7d2d2
folderarrowcolor.shadow=0x0000000
folderarrowcolor.textmain=0x696464
folderarrowcolor.textselected=0xfffafa
folderarrowcolor.textshadow=0xfffafa
folderarrowcolor.textshadowpos=-0.996
folderbgcolor.dark=0xb9b4b4
folderbgcolor.light=0xebe6e6
folderbgcolor.main=0xd7d2d2
folderbgcolor.shadow=0x9b9696ff
foldercolor.dark=0xcdc8c8
foldercolor.light=0xfffafa
foldercolor.main=0xebe1e1
foldercolor.shadow=0xcdc8c8
gametext.light=0xc8c3c3
gametext.main=0xebe6e6
gametext.shadow=0xc8c3c3ff
gametext.textmain=0x696464
open.dark=0xb9b4b4
open.glow=0x000000
open.light=0xfffafa
open.main=0xd7d2d2
open.shadow=0x0000000
open.textmain=0x696464
open.textselected=0xfffafa
open.textshadow=0xfffafa
open.textshadowpos=-0.996
topcornerbuttoncolor.light=0x000000
topcornerbuttoncolor.main=0xb9b4b4
topcornerbuttoncolor.shadow=0xfffafa
topcornerbuttoncolor.textmain=0xfffafa

[frames]
bottom.frame=single
bottom.type=color
top.frame=single
top.type=none

[info]
icon=favicon48.rgb565.png
longtitle=Basic Light Gray
publisher=wyndchyme
shorttitle=Basic Light Gray

[kame-editor]
deploy=wyne.zip
